:root {
    background-color: #FFFFFF;
    --mytextcolor-color: #434455;
    --mynavyblue-color: #2e2f42;
}
.logo-style {
        color:  #4d5ae5;
        font-family: 'Raleway', sans-serif ;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.17em;
        letter-spacing: 0.03em;
}
.inside-logo {
        color: #2e2f42;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.31em;
        letter-spacing: 0.03em;
}
.link {
        text-decoration: none;
}

.address-style {
        color: var(--mytextcolor-color);
    
        /* Body */
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        line-height: 1em;
        letter-spacing: 0.04em;
}
.contact-color {
     color: var(--mytextcolor-color);
}

.contact-color:hover {color: #404bbf;}
.contact-color:focus {color: #404bbf;}
.contact-color:active {color: #404bbf;}

/*This is Section 1*/
.first-section-header {
       color: #FFFFFF;
       
    
        /* Header 1 */
        font-family: Roboto;
        font-size: 56px;
        font-weight: 700;
        line-height: 3.75em;
        letter-spacing: 0.02em;
}
.first-section {
    background-color: var(--mynavyblue-color);
}
.first-section-button {
        color: #FFF;
    
        /* Button Text */
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5em;
        /* 150% */
        letter-spacing: 0.04em;
        background-color: #4d5ae5;
    }
    .first-section-button:hover, :focus {
        color: #404bbf;
    }
    .first-section-button {
        cursor: pointer;
    }
    /*This is Section 2*/
    .second-section-header {
        color: var(--mybackground-color);
        
            /* Header 3 */
            font-family: Roboto;
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2em;
            /* 120% */
            letter-spacing: 0.02em;
    }
    .second-section-paragraph {
        color: var(--mytextcolor-color);
        
            /* Body */
            font-family: Roboto;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5em;
            /* 150% */
            letter-spacing: 0.02em;
    }
    /* This is section 3*/
    .third-section-header {
        color: var(--mybackground-color);
            text-align: center;
        
            /* Header 2 */
            font-family: Roboto;
            font-size: 36px;
            font-weight: 700;
            line-height: 1.11em;
            /* 111.111% */
            letter-spacing: 0.02em;
            text-transform: capitalize;
    }
    
    /*This is Section 4 */
    .fourth-section-header {
        background: #f4f4fd;
    }
    .fourth-section-header {
            color: var(--mybackground-color);
            text-align: center;
        
            /* Header 3*/
            font-family: Roboto;
            font-size: 36px;
            font-weight: 700;
            line-height: 1.11em;
            /* 111.111% */
            letter-spacing: 0.02em;
            text-transform: capitalize;
    }
    .teammember-bgcolor {
        background-color: #ffffff;
    }
    .teammember-name {
            color: var(--mybackground-color);
            
        
            /* Header 3 */
            font-family:Roboto;
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2em;
            /* 120% */
            letter-spacing: 0.02em;
    }
    .teammember-position {
            color: var(--mytextcolor-color);
           
        
            /* Body */
            font-family: Roboto; 
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5em;
            /* 150% */
            letter-spacing: 0.02em;
    }
    /* Styles for Footer*/
  .footer-style {
    background-color: var(--mybackground-color);
  }  
  .logo-style {
      color: #4d5ae5;
      font-family: 'Raleway', sans-serif;
      font-size: 18px;
      font-weight: 800;
      line-height: 1.17em;
      letter-spacing: 0.03em;
  }
  .footerinside-logo-footer {
    color: #f4f4fd;
  }


  .link {
      text-decoration: none;
  }
  .footer-paragraph {
       color: #f4f4fd;
    
        /* Body */
        font-family:Roboto;
        font-size: 12px;
        font-weight: 400;
        line-height: 1em;
        letter-spacing: 0.04em;
  }
  .footer-style {
    background-color: var(--mynavyblue-color);
  }

