:root

--thebodytagcolor-color: #434455;
--thesampekolor-color: white;

.logo-style {
        color:  #4D5AE5;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.5em;
        letter-spacing: 0.02em;
        text-transform: uppercase;
}
.inside-logo {
        color:#2e2f42;
}
.link {
    text-decoration: none;
}

.address-style {
    color: #434455;
    
        /* Body */
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5em;
        /* 150% */
        letter-spacing: 0.02em;
}
.contact-color {color: #434455;}

.contact-color:hover {color: #404bbf;}
.contact-color:focus {color: #404bbf;}
.contact-color:active {color: #404bbf;}

/*This is Section 1*/
.first-section {
    color: #FFF;
        text-align: center;
    
        /* Header 1 */
        font-family: "Roboto", sans-serif;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.7em;
        /* 107.143% */
        letter-spacing: 0.07em;
}
.first-section {
    background-color: #2E2F42;
}
.first-section {
    color: #FFF;
    
        /* Button Text */
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5em;
        /* 150% */
        letter-spacing: 0.04em;
        background-color: #4D5AE5;
    }
    .first-section-button:hover, :focus {
        color: #404bbf;
    }
    .first-section-button {
        cursor: pointer;
    }
    /*This is Section 2*/
    .second-section-header {
        color: #2E2F42;
        
            /* Header 3 */
            font-family: "Roboto", sans-serif;
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2em;
            /* 120% */
            letter-spacing: 0.02em;
    }
    .second-section-paragraph {
        color: #434455;
        
            /* Body */
            font-family: "Roboto"; sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5em;
            /* 150% */
            letter-spacing: 0.02em;
    }
    /* This is section 3*/
    .third-section-header {
        color: #2E2F42;
            text-align: center;
        
            /* Header 2 */
            font-family: "Roboto", sans-serif;
            font-size: 36px;
            font-weight: 700;
            line-height: 1.11em;
            /* 111.111% */
            letter-spacing: 0.045em;
            text-transform: capitalize;
    }
    
    /*This is Section 4 */
    .fourth-section-header {
        background: #F4F4FD;
    }
    .fourth-section-header {
            color: #2E2F42;
            text-align: center;
        
            /* Header 2 */
            font-family: "Roboto",
                sans-serif;
            font-size: 36px;
            font-weight: 700;
            line-height: 1.11em;
            /* 111.111% */
            letter-spacing: 0.02em;
            text-transform: capitalize;
    }
    .teammember-bgcolor {
        background-color: #FFFFFF;
    }
    .teammember-name {
            color: #2E2F42;
            text-align: center;
        
            /* Header 3 */
            font-family:"Roboto",
                sans-serif;
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2em;
            /* 120% */
            letter-spacing: 0.02em;
    }
    .teammember-position {
            color: #434455;
            text-align: center;
        
            /* Body */
            font-family: "Roboto",
                sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5em;
            /* 150% */
            letter-spacing: 0.02em;
    }
    /* Styles for Footer*/
  .footer-style {
    background: #2E2F42;
  }  
  .logo-style {
      color: #4D5AE5;
      font-family: "Raleway", sans-serif;
      font-size: 18px;
      font-weight: 800;
      line-height: 1.17em;
      letter-spacing: 0.03em;
      text-transform: uppercase;
  }

  .inside-logo {
      color: #2E2F42;
  }

  .link {
      text-decoration: none;
  }
  .footer-paragraph {
        color: #F4F4FD;
    
        /* Body */
        font-family:"Roboto",
            sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5em;
        /* 150% */
        letter-spacing: 0.02em;
  }

